<h1> Transfer Funds </h1>

<form>
    <input type="number" placeholder="From Account" class="form-control" />
    <input type="number" placeholder="To Account" class="form-control" />
    <button class="btn btn-danger">Transfer</button>
</form>

<h1> This Page needs Identity</h1>