
<h1 style="text-align:center">Add New Employee</h1>


<form method="post">

<table class="table table-bordered">
        <tr><td><input type="number" placeholder="Enter New Employee Number" class="form-control" name="newEmp.empNo" /> </td>    </tr>
        <tr>
       
            <td><input type="text" placeholder="Enter New Employee Name" class="form-control" name="newEmp.empName" /> </td>
        </tr>

        <tr>   <td><input type="text" placeholder="Enter New Employee Designation" class="form-control" name="newEmp.empDesignation" /> </td>     </tr>
        <tr>   <td><input type="number" placeholder="Enter New Employee Salary" class="form-control" name="newEmp.empSalary" /> </td>     </tr>
          <tr> <td><input type="text" placeholder="Enter New Employee Is Permenant" class="form-control" name="newEmp.empIsPermenant" /> </td>     </tr>
        <tr>    <td> <button class="btn btn-primary">Add</button> </td>




</table>
</form>

<h1> @ViewBag.addresult</h1>